@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

:root.dark {
  --background: 10 10 10;
  --foreground: 237 237 237;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}